@font-face {
  font-family: 'Muli';
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: url("../../fonts/muli/muli-light.ttf") format("truetype"); }
@font-face {
  font-family: 'Muli';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("../../fonts/muli/muli-regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Muli';
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: url("../../fonts/muli/muli-semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'Muli';
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url("../../fonts/muli/muli-bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Muli';
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
  src: url("../../fonts/muli/muli-black.ttf") format("truetype"); }
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: lightcoral;
  font-family: 'Muli', Verdana, sans-serif; }

button {
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Muli'; }

.bannerInnerBox {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  overflow: hidden;
  text-align: center; }

span.avoidwrap {
  display: inline-block; }
span.semibold {
  font-weight: 700; }
span.bold {
  font-weight: 800; }
span.smallSpace {
  letter-spacing: -0.15em; }

.displayIsNone {
  display: none !important; }

.dotContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2px 0;
  box-sizing: border-box;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  right: 20px;
  z-index: 100; }
  .dotContainer .dot {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0px;
    color: white; }
    .dotContainer .dot.active {
      background: rgba(255, 255, 255, 0.3);
      border-width: 2px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      width: 16px;
      height: 16px; }

.inlineImage .info.productGroupButton {
  display: inline-block;
  vertical-align: middle;
  margin: 4px 4px; }

.playPause {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 300;
  top: 50%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: translateY(-50%);
  margin-left: 2vw;
  cursor: pointer;
  background-image: url(../../images/play-pause-light.svg);
  right: 50px;
  margin-top: 1px;
  background-position-x: -30px; }
  .playPause.paused {
    background-position-x: 0; }

.continueBtn {
  display: none;
  bottom: 18%;
  position: absolute;
  color: #726a7c;
  background: white;
  height: 50px;
  padding: 0px 18px;
  border-radius: 25px;
  left: 50vw;
  font-size: 16px;
  font-weight: 600;
  transform: translate(-50%, 50%);
  z-index: 10; }

.logged-in .announcementBanner span.button-text {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  cursor: pointer; }

.logged-out .for-Mobile,
.logged-in .for-Mobile {
  display: none !important; }

.announcementBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  padding: 0;
  height: 131px;
  position: relative;
  overflow: visible;
  overflow: hidden; }
  .announcementBanner a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #ffffff91; }
  .announcementBanner.noImage .bannerImage {
    display: block; }
    .announcementBanner.noImage .bannerImage img {
      height: 200px;
      right: -3px;
      position: absolute;
      top: -85px;
      max-width: unset;
      max-height: unset; }
  .announcementBanner.noImage .bannerLeft {
    width: calc(50% - 190px);
    height: calc(100% - 3px);
    border-bottom: 1px solid #e4e4e7;
    overflow: hidden; }
  .announcementBanner.noImage .bannerRight {
    background: #5c6bb7;
    width: 100%;
    text-align: center; }
    .announcementBanner.noImage .bannerRight:before {
      border-right-color: #5c6bb7; }
  .announcementBanner.noImage .bannerButton div {
    color: #546bab; }
  .announcementBanner.noImage .mainTitle {
    font-size: 26px; }
  .announcementBanner.noImage .surOrSubTitle {
    font-size: 90%;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.75); }
    .announcementBanner.noImage .surOrSubTitle.small {
      font-size: 70%;
      line-height: 1.25em;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.7); }
  .announcementBanner.welcome.noImage .bannerRight {
    background: #3469a2; }
  .announcementBanner.welcome.noImage .titlesAndButtons {
    padding: 8px 40px 80px; }
  .announcementBanner.welcome.noImage .mainTitle {
    margin-bottom: 6px;
    font-size: 120%; }
  .announcementBanner.welcome.noImage .surOrSubTitle.small {
    font-size: 77%;
    line-height: 0.65em;
    color: rgba(255, 255, 255, 0.9); }
  .announcementBanner.helpImprovements.noImage .bannerRight {
    background: #a32947; }
  .announcementBanner.helpImprovements.noImage .titlesAndButtons {
    padding: 8px 40px 0; }
  .announcementBanner.helpImprovements.noImage .mainTitle {
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 110%; }
  .announcementBanner.helpImprovements.noImage .surOrSubTitle.small {
    font-size: 77%;
    line-height: 0.65em;
    color: rgba(255, 255, 255, 0.9); }
  .announcementBanner.helpImprovements a.linkButton {
    width: unset;
    height: unset;
    padding: 4px 15px 3px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 70%;
    margin-top: -2px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.85); }
  .announcementBanner.helpImprovements .productGroupButton.info {
    border: none;
    cursor: default; }
  .announcementBanner.launchingQuiz .bannerRight {
    background: #007f80; }
  .announcementBanner.launchingQuiz .titlesAndButtons {
    padding: 2px 40px 5px 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .announcementBanner.launchingQuiz .titles {
    max-width: 800px; }
  .announcementBanner.launchingQuiz .mainTitle {
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.2em; }
  .announcementBanner.launchingQuiz .surOrSubTitle.small {
    font-size: 80%;
    color: rgba(255, 255, 255, 0.8); }
  .announcementBanner.launchingQuiz span.standOut {
    font-size: 110%;
    color: #89d75b;
    font-weight: 700; }
  .announcementBanner.launchingQuiz a span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 105%;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  .announcementBanner .atvSearch .surOrSubTitle.small span {
    padding: 5px 20px 6px;
    background: #414c86;
    font-size: 93%;
    border-radius: 20px;
    min-width: 122px;
    display: inline-block;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 6px;
    border: 1px solid #5c6bb7; }
    .announcementBanner .atvSearch .surOrSubTitle.small span:hover {
      background: #465186; }
  .announcementBanner.audiology .bannerRight {
    background: #6278b6; }
    .announcementBanner.audiology .bannerRight:before {
      border-right-color: #6278b5; }
  .announcementBanner.audiology .bannerButton div {
    color: #546bab; }
  .announcementBanner.augReality .bannerRight {
    background: #4d5462; }
    .announcementBanner.augReality .bannerRight:before {
      border-right-color: #4d5462; }
  .announcementBanner.augReality .bannerButton div {
    color: #3f4550; }
  .announcementBanner.augReality .bannerImage {
    height: 130px;
    top: 0;
    padding-right: 0; }
  .announcementBanner.embeddedReality .bannerRight {
    background: #108552; }
    .announcementBanner.embeddedReality .bannerRight:before {
      border-right-color: #108552; }
  .announcementBanner.embeddedReality .bannerButton div {
    color: #0c6941; }
  .announcementBanner.embeddedReality .bannerImage {
    border-left: 1px solid white; }
  .announcementBanner.leftRight.mobileUi2 .bannerLeft {
    width: calc(50% - 194px);
    background: #eceff4; }
  .announcementBanner.leftRight.mobileUi2 .bannerRight {
    background: #5978e2;
    margin-top: -62px; }
    .announcementBanner.leftRight.mobileUi2 .bannerRight:before {
      border-right-color: #5978e2; }
    .announcementBanner.leftRight.mobileUi2 .bannerRight .titlesAndButtons {
      padding: 30px 30px; }
  .announcementBanner.leftRight.mobileUi2 .bannerImage {
    position: absolute;
    width: 100%;
    right: -69px;
    top: 0;
    height: 100%;
    background-image: url(../../images/iPhone-banner-black2.jpg);
    background-size: 560px;
    background-position: top right;
    background-repeat: no-repeat; }
  .announcementBanner .bannerLeft {
    position: relative;
    font-size: 0;
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
    width: calc(50% - 190px);
    height: 100%;
    align-items: center;
    background: #f2f2f2; }
  .announcementBanner .bannerImage {
    padding-right: 20px;
    position: absolute;
    right: 0;
    top: 0; }
    .announcementBanner .bannerImage img {
      height: 100%; }
  .announcementBanner .bannerRight {
    flex: 1 0 auto;
    display: flex;
    height: calc(100% - 1px);
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: calc(50% + 255px);
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, 0.4);
    border-style: solid; }
    .announcementBanner .bannerRight:before {
      content: '';
      position: absolute;
      border-width: 18px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0);
      left: 0;
      z-index: 1;
      margin-left: -36px;
      margin-top: -58px; }
  .announcementBanner .titlesAndButtons {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px 5px 40px;
    justify-content: center; }
    .announcementBanner .titlesAndButtons .titles {
      background: none; }
  .announcementBanner .titles {
    box-sizing: border-box;
    line-height: 1.15em; }
  .announcementBanner .mainTitle {
    line-height: 1.3em;
    padding: 2px 0; }
  .announcementBanner .surOrSubTitle {
    font-size: 85%;
    line-height: 1.15em;
    padding: 0px 0 2px; }

.announcementBanner.leftRight .bannerLeft {
  width: calc(50% - 191px);
  background: #c0b6c5; }
.announcementBanner.leftRight .bannerImage {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0px;
  height: 100%;
  background: url(../../images/thirtieth10.png) 100%/auto 100% no-repeat; }
.announcementBanner.leftRight .bannerRight {
  background: #942d2d; }
  .announcementBanner.leftRight .bannerRight:before {
    border-right-color: #942d2d; }
.announcementBanner.leftRight .titlesAndButtons {
  height: 100%;
  text-align: left;
  padding: 28px 28px 38px; }
.announcementBanner.leftRight .titles {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 850px;
  font-size: 62.5%; }
.announcementBanner.leftRight .mainTitle {
  padding: 0;
  font-size: 2.8em;
  line-height: 1.1em;
  letter-spacing: -0.01em; }
  .announcementBanner.leftRight .mainTitle span.standOut {
    font-size: 99%;
    font-weight: 700; }
.announcementBanner.leftRight .surOrSubTitle {
  position: relative;
  font-size: 1.85em;
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: 0.03em;
  max-width: 640px; }
  .announcementBanner.leftRight .surOrSubTitle.small .button-text {
    display: inline-block;
    border-radius: 16px;
    width: auto;
    padding: 4px 14px 6px;
    margin: 0 1px 0 -1px;
    letter-spacing: 0.03em;
    background-color: #00000059;
    cursor: pointer; }
    .announcementBanner.leftRight .surOrSubTitle.small .button-text.for-LoginPage {
      background-color: rgba(0, 0, 0, 0);
      padding: 4px 0 6px 3px; }
    .announcementBanner.leftRight .surOrSubTitle.small .button-text a {
      font-weight: 600; }

.logged-in .announcementBanner.leftRight .bannerLeft {
  width: calc(50% - 255px); }

@media screen and (max-width: 1220px) {
  .announcementBanner.leftRight .titles {
    max-width: 710px; } }
@media screen and (max-width: 1023px) {
  .announcementBanner.leftRight .titles,
  .logged-in .announcementBanner.leftRight .titles {
    max-width: 800px; }
  .announcementBanner.leftRight .bannerRight,
  .logged-in .announcementBanner.leftRight .bannerRight {
    width: calc(50% + 132px); }
  .announcementBanner.leftRight .bannerLeft,
  .logged-in .announcementBanner.leftRight .bannerLeft {
    width: calc(50% - 132px); }
  .announcementBanner.leftRight.atvWelcome .bannerRight .titlesAndButtons,
  .logged-in .announcementBanner.leftRight.atvWelcome .bannerRight .titlesAndButtons {
    padding: 10px 10px 5px 10px; }
  .announcementBanner.leftRight.atvWelcome .mainTitle,
  .logged-in .announcementBanner.leftRight.atvWelcome .mainTitle {
    font-size: 23px; } }
@media screen and (max-width: 900px) {
  .announcementBanner.leftRight .titles {
    max-width: 720px; }

  .playPause {
    right: unset;
    left: 0; } }
@media screen and (max-width: 767px), (orientation: portrait) {
  .shyBreak {
    display: block; }

  .bannerInnerBox {
    width: 100vw;
    display: flex;
    background-color: #942d2d; }

  .announcementBanner {
    height: calc(100% - 13% - 18px);
    width: 100vw; }
    .announcementBanner .mobile-banner-spacer {
      width: 100%;
      height: 180px; }
    .announcementBanner.leftRight .bannerLeft,
    .announcementBanner.leftRight .mobile-banner-spacer {
      height: 180px; }
    .announcementBanner.leftRight .bannerLeft {
      width: 100%;
      position: absolute;
      z-index: 1; }
    .announcementBanner.leftRight .bannerImage {
      position: relative;
      display: block;
      padding-right: 0;
      background-position-x: center;
      background-image: url(../../images/thirtieth_logo4.png);
      background-size: auto 100%; }
    .announcementBanner.leftRight .bannerRight {
      border: none;
      height: 100%; }
      .announcementBanner.leftRight .bannerRight .titlesAndButtons {
        padding: 0 24px; }
    .announcementBanner.leftRight .titles {
      display: block; }
    .announcementBanner.leftRight .mainTitle {
      height: calc(50% - 90px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
    .announcementBanner.leftRight .surOrSubTitle {
      height: calc(50% - 90px);
      text-align: center;
      max-width: initial; }
    .announcementBanner .mainTitle {
      font-size: 95%; }
    .announcementBanner .surOrSubTitle {
      height: calc(43% - 113px);
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .announcementBanner .surOrSubTitle.spaced > * {
        margin-bottom: 1.2em;
        line-height: 1.2em; }
    .announcementBanner .bannerButton div {
      font-size: 13px;
      min-width: 110px;
      padding: 9px 12px;
      margin-top: 8px; }
    .announcementBanner .noImage.titlesAndButtons .titles {
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .announcementBanner .noImage .surOrSubTitle.small {
      margin-bottom: 20px; }
      .announcementBanner .noImage .surOrSubTitle.small:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 0; }
    .announcementBanner .button-text {
      margin-bottom: 8px;
      cursor: pointer; }
    .announcementBanner .shyBreak {
      display: block; }
    .announcementBanner #logged-in-text.button-text {
      margin-bottom: 6px;
      padding: 5px 14px 6px; }
    .announcementBanner.atvWelcome .bannerRight .titlesAndButtons {
      padding: 10px 10px 150px 10px; }

  .logged-in .announcementBanner.leftRight .bannerLeft {
    width: 100%; }

  .continueBtn {
    display: inline-block; }
    .continueBtn p {
      font-size: 18px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      letter-spacing: -0.02em; }

  .dotContainer {
    bottom: 70px;
    flex-direction: row;
    height: 40px;
    width: 350px;
    left: 50vw;
    transform: translateX(-50%); }
    .dotContainer .dot.active {
      width: 14px;
      height: 14px; }

  .playPause {
    right: unset;
    bottom: 75px;
    top: unset;
    left: 50vw;
    transform: translateX(-50%);
    margin: 0 0 0 1px; }

  .logged-out .for-Mobile {
    display: inline !important; }

  .logged-out .for-Desktop,
  .logged-in .for-Desktop {
    display: none !important; }

  span.keepOnOneLine {
    display: block; }

  .messageBox {
    padding: 25px 30px 60px 30px; }

  .mainTitle {
    font-size: 26px; }

  .bannerText {
    font-size: 15px; } }
@media screen and (min-height: 131px) {
  .continueBtn {
    font-size: 16px;
    font-weight: 600;
    bottom: 13%;
    height: 36px;
    display: flex;
    align-items: center; } }
@media screen and (max-width: 420px) {
  .closeModal {
    width: 28px;
    height: 28px;
    right: -26px;
    top: -25px; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dotContainer {
    justify-content: space-around;
    padding: 15px 0; }

  .announcementBanner .bannerRight:before {
    margin-top: 23px; } }
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
  .announcementBanner .bannerRight:before {
    margin-top: -37px; } }

/*# sourceMappingURL=banner.css.map */
