@font-face {
    font-family: 'FSMeP';
    font-weight: 300;
    font-style: normal;
    src: url('../../fonts/fsme/FSMe-P-Light.otf') format('opentype');
}
@font-face {
    font-family: 'FSMeP';
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/fsme/FSMe-P.otf') format('opentype');
}
@font-face {
    font-family: 'FSMeP';
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/fsme/FSMe-P-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'FSMeP';
    font-weight: 800;
    font-style: normal;
    src: url('../../fonts/fsme/FSMe-P-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Muli';
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/muli/muli-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/muli/muli-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli';
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/muli/muli-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli';
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/muli/muli-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli';
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/muli/muli-black.ttf') format('truetype');
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: lightcoral;
    font-family: 'FSMeP', Verdana, sans-serif;
}

span {
    &.avoidwrap {
        display: inline-block;
    }

    &.semibold {
        font-weight: 700;
    }

    &.bold {
        font-weight: 800;
    }

    &.smallSpace {
        letter-spacing: -0.1em;
    }
}

.gotIt-button {
    left: 8px;
}

.announcementBanner {
    button {
        position: absolute;
        border-radius: 16px;
        border: none;
        padding: 1px 12px 0;
        background: #d1d8e6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6em;
        font-family: 'FSMeP';
        font-weight: 700;
        color: #14121a;
        cursor: pointer;
        height: 28px;
        bottom: 6px;

        &.gotIt-button {
            left: calc(0% + 6px);
            transition: all 0.8s;
        }

        &.showHide {
            right: calc(0% + 6px);
            transition: all 0.8s;
            background: #d0d8e5 url(../../images/announcement.svg) 280px 50%
                no-repeat;
        }
    }
}

.hidden {
    .announcementBanner {
        background: #cdd5e4;

        button.showHide {
            width: 35px;
            height: 36px;
            right: calc(50% - 0px);
            bottom: 0px;
            border-radius: 0;
            cursor: pointer;
            transform: translate(50%, 0px);
            width: 76px;
            height: 32px;
            background-color: #ccd5e3;
            background-position-x: 50%;

            p {
                opacity: 0;
            }
        }

        .bannerImage {
            opacity: 0;
        }
    }
}

.announcementBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background: #ebeef3;
    font-weight: 300;
    padding: 0;
    height: 100%;
    position: relative;
    font-size: 21px;
    overflow: hidden;
    transition: background-color 0.8s;

    a {
        font-weight: 800;
        color: #3f3c4f;
    }

    .bannerImage {
        height: 244px;
        width: 360px;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            height: 100%;
            width: auto;
        }
    }

    .titlesAndButtons {
        flex: 1;
        position: relative;
        width: 100%;
        max-width: 620px;
        box-sizing: border-box;
        padding: 40px 20px 0;
        display: flex;
        flex-direction: column;
    }

    .titles {
        box-sizing: border-box;
        line-height: 1.15em;
        font-weight: 600;
        color: #3f3c4f;

        strong {
            font-weight: 700;
        }
    }

    .mainTitle {
        line-height: 1.1em;
        padding: 0px 0 0.5em;
        font-size: 1.3em;
        font-weight: 700;
        color: #e84e0f;
    }

    .surOrSubTitle {
        font-size: 73%;
        margin-bottom: 0.8em;
        font-weight: 400;
        line-height: 1.1em;
        max-width: 332px;

        &.small {
            font-size: 64%;
        }

        .standOut {
            font-weight: 600;
        }
    }
}

.displayIsNone {
    display: none !important;
}

.dotContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    box-sizing: border-box;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    right: 20px;
    z-index: 100;

    .dot {
        width: 14px;
        height: 14px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0px;
        color: white;

        &.active {
            background: rgba(255, 255, 255, 0.3);
            border-width: 2px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            width: 16px;
            height: 16px;
        }
    }
}

.playPause {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 300;
    top: 50%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
    margin-left: 2vw;
    cursor: pointer;
    background-image: url(../../images/play-pause-light.svg);
    right: 50px;
    margin-top: 1px;
    background-position-x: -30px;

    &.paused {
        background-position-x: 0;
    }
}

.continueBtn {
    display: none;
    bottom: 18%;
    position: absolute;
    color: #726a7c;
    background: white;
    height: 50px;
    padding: 0px 18px;
    border-radius: 25px;
    left: 50vw;
    font-size: 16px;
    font-weight: 600;
    transform: translate(-50%, 50%);
    z-index: 10;
}

.logged-out .for-TitlesPage {
    display: none !important;
}

.logged-in {
    .for-LoginPage {
        display: none !important;

        .button-text {
            margin-bottom: 6px;
            padding: 5px 14px 6px;
        }
    }

    .announcementBanner span.button-text {
        border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
}

.logged-out,
.logged-in {
    .for-Mobile {
        display: none !important;
    }
}

@media screen and (max-width: 727px) {
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .shyBreak {
        display: block;
    }

    .bannerInnerBox {
        width: 100vw;
        display: flex;
    }

    .announcementBanner {
        height: 100%;
        width: 100vw;
        justify-content: center;

        .mainTitle {
            font-size: 95%;
        }

        .surOrSubTitle {
            flex: 1 1 34%;
            display: flex;
            flex-direction: column;
            top: 0;
            line-height: 1.25em;

            > div {
                position: relative;
                top: 20%;
            }

            &.spaced > * {
                margin-bottom: 1.2em;
                line-height: 1.2em;
            }
        }

        .bannerButton div {
            font-size: 13px;
            min-width: 110px;
            padding: 9px 12px;
            margin-top: 8px;
        }

        .bannerImage {
            background-size: 100%;
            background-position: 50% 100%;
            height: 52%;
        }

        .noImage {
            &.titlesAndButtons {
                .titles {
                    background: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }

            .surOrSubTitle.small {
                margin-bottom: 20px;

                &:nth-child(2) {
                    margin-top: 20px;
                    margin-bottom: 0;
                }
            }
        }

        .button-text {
            margin-bottom: 8px;
            cursor: pointer;
        }

        .shyBreak {
            display: block;
        }

        #logged-in-text.button-text {
            margin-bottom: 6px;
            padding: 5px 14px 6px;
        }

        &.atvWelcome {
            .bannerRight .titlesAndButtons {
                padding: 10px 10px 150px 10px;
            }
        }
    }

    .continueBtn {
        display: inline-block;

        p {
            font-size: 18px;
            margin: 0;
            padding: 0;
            font-weight: 600;
            letter-spacing: -0.02em;
        }
    }

    .dotContainer {
        bottom: 70px;
        flex-direction: row;
        height: 40px;
        width: 350px;
        left: 50vw;
        transform: translateX(-50%);

        .dot.active {
            width: 14px;
            height: 14px;
        }
    }

    .playPause {
        right: unset;
        bottom: 75px;
        top: unset;
        left: 50vw;
        transform: translateX(-50%);
        margin: 0 0 0 1px;
    }

    .logged-out {
        .for-Mobile {
            display: inline !important;
        }
    }

    .logged-out,
    .logged-in {
        .for-Desktop {
            display: none !important;
        }
    }

    span.keepOnOneLine {
        display: block;
    }

    .messageBox {
        padding: 25px 30px 60px 30px;
    }

    .mainTitle {
        font-size: 26px;
    }

    .bannerText {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .announcementBanner .bannerImage {
        height: 200px;
        right: 20px;
        width: 295px;
    }
}

@media screen and (max-width: 540px) {
    .announcementBanner {
        .titlesAndButtons {
            padding-top: 28px;
        }

        .mainTitle {
            font-size: 1.15em;
        }

        .surOrSubTitle {
            font-size: 62%;
            line-height: 1.15em;
            padding: 0 124px 0 0;
            max-width: unset;
        }

        .bannerImage {
            right: 0;
            transform: translateX(44px) rotate(-46deg);
            height: 200px;
            bottom: -8px;
        }
    }
}

@media screen and (max-width: 500px) {
    .announcementBanner .bannerImage {
        bottom: -44px;
    }
}

@media screen and (max-width: 420px) {
    .announcementBanner .mainTitle {
        font-size: 0.95em;
    }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
    .hidden .showHide {
        // height: 40px;
        // background-position: 50% 0;
    }
}
