@font-face {
    font-family: 'FSMeP';
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/fsme-p/fsme-p-light.otf') format('truetype');
}

@font-face {
    font-family: 'FSMeP';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/fsme-p/fsme-p.otf') format('truetype');
}

@font-face {
    font-family: 'FSMeP';
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/fsme-p/fsme-p-bold.otf') format('truetype');
}

@font-face {
    font-family: 'FSMeP';
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/fsme-p/fsme-p-black.otf') format('truetype');
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: lightcoral;
    font-family: 'FSMeP', Verdana, sans-serif;
}

button {
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'FSMeP';
}

.bannerInnerBox {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    font-size: 0;
    overflow: hidden;
    text-align: center;
}

span {
    &.avoidWrap {
        display: inline-block;
    }

    &.semibold {
        font-weight: 700;
    }

    &.bold {
        font-weight: 800;
    }

    &.smallSpace {
        letter-spacing: -0.1em;
    }
}

.displayIsNone {
    display: none !important;
}

.dotContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    box-sizing: border-box;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    right: 20px;
    z-index: 100;

    .dot {
        width: 14px;
        height: 14px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0px;
        color: white;

        &.active {
            background: rgba(255, 255, 255, 0.3);
            border-width: 2px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            width: 16px;
            height: 16px;
        }
    }
}

.inlineImage .info.productGroupButton {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 4px;
}

.playPause {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 300;
    top: 50%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
    margin-left: 2vw;
    cursor: pointer;
    background-image: url(../../images/play-pause-light.svg);
    right: 50px;
    margin-top: 1px;
    background-position-x: -30px;

    &.paused {
        background-position-x: 0;
    }
}

.continueBtn {
    display: none;
    bottom: 18%;
    position: absolute;
    color: #726a7c;
    background: white;
    height: 50px;
    padding: 0px 18px;
    border-radius: 25px;
    left: 50vw;
    font-size: 16px;
    font-weight: 600;
    transform: translate(-50%, 50%);
    z-index: 10;
}

.logged-out .for-TitlesPage {
    display: none !important;
}

.logged-in {
    .for-LoginPage {
        display: none !important;

        .button-text {
            margin-bottom: 6px;
            padding: 5px 14px 6px;
        }
    }

    .announcementBanner span.button-text {
        border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
}

.logged-out,
.logged-in {
    .for-Mobile {
        display: none !important;
    }
}

.announcementBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #3f3b4f;
    font-family: 'FSMeP';
    font-weight: 600;
    padding: 0;
    height: 131px;
    position: relative;
    overflow: visible;
    font-size: 21px;
    overflow: hidden;

    a {
        font-weight: 700;
        text-decoration: underline;
        color: #3f3b4f;
    }

    &.fullWidth {
        .bannerImage {
            display: block;

            img {
                height: 200px;
                right: -3px;
                position: absolute;
                top: -85px;
                max-width: unset;
                max-height: unset;
            }
        }

        .bannerLeft {
            width: calc(50% - 190px);
            height: calc(100% - 3px);
            border-bottom: 1px solid hsla(240, 4%, 90%, 1);
            overflow: hidden;
        }

        .bannerRight {
            background: hsla(230, 39%, 54%, 1);
            width: 100%;
            text-align: center;

            &:before {
                border-right-color: hsla(230, 39%, 54%, 1);
            }
        }

        .bannerButton div {
            color: #546bab;
        }

        .mainTitle {
            font-size: 26px;
        }

        .surOrSubTitle {
            font-size: 70%;
            margin-bottom: 8px;

            &.small {
                font-size: 65%;
                line-height: 1.25em;
                margin-bottom: 0;
            }
        }
    }

    &.welcome {
        &.fullWidth {
            .bannerRight {
                background: #3469a2;
            }

            .titlesAndButtons {
                padding: 8px 40px 80px;
            }

            .mainTitle {
                margin-bottom: 6px;
                font-size: 120%;
            }

            .surOrSubTitle.small {
                font-size: 77%;
                line-height: 0.65em;
                color: rgba(255, 255, 255, 0.9);
            }
        }
    }

    &.helpImprovements {
        &.fullWidth {
            .bannerRight {
                background: hsla(345, 60%, 40%, 1);
            }

            .titlesAndButtons {
                padding: 8px 40px 0;
            }

            .mainTitle {
                margin-bottom: 6px;
                font-weight: 300;
                font-size: 110%;
            }

            .surOrSubTitle.small {
                font-size: 77%;
                line-height: 0.65em;
                color: rgba(255, 255, 255, 0.9);
            }
        }

        a.linkButton {
            width: unset;
            height: unset;
            padding: 4px 15px 3px;
            background: rgba(0, 0, 0, 0.3);
            font-size: 70%;
            margin-top: -2px;
            font-weight: 700;
            color: hsla(0, 0%, 100%, 0.85);
        }

        .productGroupButton.info {
            border: none;
            cursor: default;
        }
    }

    &.pprofilesBeta {
        .bannerRight {
            background: url(../../images/pprofiles_beta.jpg) 50% / auto 131px;
        }

        .titlesAndButtons {
            padding: 12px 40px 12px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .titles {
            max-width: 800px;
        }

        .mainTitle {
            font-size: 22px;
            line-height: 1.2em;
        }

        span.standOut {
            font-size: 110%;
            color: #e84e0f;
            font-weight: 700;
            text-shadow: 0px 0px 8px white, 0px 0px 8px white;
        }

        a span {
            color: #3f3b4f;
            border-bottom: 1px solid #3f3b4f;
            padding-bottom: 0px;
            font-weight: 800;

            &:hover {
                // color: hsla(34, 100%, 55%, 1);
                // border-color: hsla(34, 100%, 55%, 1);
            }
        }
    }

    .atvSearch {
        .surOrSubTitle.small span {
            padding: 5px 20px 6px;
            background: hsla(230, 35%, 39%, 1);
            font-size: 93%;
            border-radius: 20px;
            min-width: 122px;
            display: inline-block;
            box-sizing: border-box;
            color: rgba(255, 255, 255, 0.8);
            margin: 0 6px;
            border: 1px solid #5c6bb7;

            &:hover {
                background: hsla(230, 31%, 40%, 1);
            }
        }
    }

    &.audiology {
        .bannerRight {
            background: #6278b6;

            &:before {
                border-right-color: #6278b5;
            }
        }

        .bannerButton div {
            color: #546bab;
        }
    }

    &.augReality {
        .bannerRight {
            background: #4d5462;

            &:before {
                border-right-color: #4d5462;
            }
        }

        .bannerButton div {
            color: hsla(220, 12%, 28%, 1);
        }

        .bannerImage {
            height: 130px;
            top: 0;
            padding-right: 0;
        }
    }

    &.embeddedReality {
        .bannerRight {
            background: #108552;

            &:before {
                border-right-color: #108552;
            }
        }

        .bannerButton div {
            color: hsla(154, 79%, 23%, 1);
        }

        .bannerImage {
            border-left: 1px solid white;
        }
    }

    .bannerLeft {
        position: relative;
        font-size: 0;
        flex: 0 1 auto;
        display: flex;
        justify-content: flex-end;
        width: calc(50% - 190px);
        height: 100%;
        align-items: center;
        background: #f2f2f2;
    }

    .bannerImage {
        padding-right: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .bannerRight {
        flex: 1 0 auto;
        display: flex;
        height: calc(100% - 1px);
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: calc(50% + 180px);
        border-width: 0 0 1px 0;
        border-color: hsla(0, 0%, 100%, 0.4);
        border-style: solid;

        &:before {
            content: '';
            position: absolute;
            border-width: 18px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0);
            left: 0;
            z-index: 1;
            margin-left: -36px;
            margin-top: -23px;
        }
    }

    .titlesAndButtons {
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;
        height: 100%;
        padding: 10px 40px 5px 40px;
        justify-content: center;

        .titles {
            background: none;
        }
    }

    .titles {
        box-sizing: border-box;
        line-height: 1.15em;

        strong {
            font-weight: 700;
        }
    }

    .mainTitle {
        line-height: 1.3em;
        padding: 2px 0;
    }

    .surOrSubTitle {
        font-size: 85%;
        line-height: 1.25em;
        padding: 0px 0 2px;
        text-shadow: 0px 0px 4px white;
    }
}

.announcementBanner.leftRight {
    .bannerLeft {
        width: calc(50% - 256px);
    }

    .titlesAndButtons {
        height: 100%;
        padding: 18px 30px 16px;
        text-align: left;
    }

    .titles {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mainTitle {
        font-size: 24px;
        padding: 0;
        line-height: 1.2em;

        + .surOrSubTitle {
            top: -5px;
        }

        span.standOut {
            font-size: 99%;
            font-weight: 700;
        }
    }

    .surOrSubTitle {
        font-size: 70%;
        font-weight: 400;
        position: relative;

        &.small .button-text {
            display: inline-block;
            border-radius: 16px;
            width: auto;
            padding: 4px 14px 6px;
            margin: 0 1px 0 -1px;
            letter-spacing: 0.03em;
            background-color: #00000059;
            cursor: pointer;

            &.for-LoginPage {
                background-color: rgba(0, 0, 0, 0);
                padding: 4px 0 6px 3px;
            }

            // &:after {
            // 	content: '';
            // 	position: absolute;
            // 	border-width: 14px;
            // 	border-color: rgb(255 0 0 / 0);
            // 	border-left-color: #00000059;
            // 	right: -28px;
            // 	top: 0px;
            // 	border-style: solid;
            // }

            a {
                font-weight: 600;
            }
        }
    }

    &.dandc {
        color: rgba(255, 255, 255, 0.85);

        a {
            &.text-link {
                font-weight: 700;
                color: #ff9c1a;
                border-bottom: 1px dashed #c67e1f;
            }

            &:hover {
                color: #ede7d9;
            }
        }

        .bannerRight {
            background: #8f2965;

            &:before {
                border-right-color: #8f2965;
            }
        }

        .titles {
            max-width: 710px;
        }

        .surOrSubTitle {
            font-size: 75%;

            &.small {
                font-size: 65%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .announcementBanner {
        &.augReality .bannerImage img {
            width: 100%;
            height: auto;
            margin-top: -30px;
        }
    }
}

@media screen and(max-width: 1023px) {
    .announcementBanner {
        .bannerImage {
            display: none;
        }

        .bannerRight {
            width: 100vw;

            .titlesAndButtons {
                width: 100%;
                text-align: center;
                align-items: center;
            }
        }

        .titles {
            align-items: center;
        }

        .bannerLeft {
            width: 0;
        }

        &.atvWelcome {
            .bannerRight .titlesAndButtons {
                padding: 10px 10px 5px 10px;
            }

            .mainTitle {
                font-size: 23px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .announcementBanner.surveyImprove .surOrSubTitle.small {
        font-size: 75%;
    }

    .playPause {
        right: unset;
        left: 0;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .shyBreak {
        display: block;
    }

    .bannerInnerBox {
        width: 100vw;
        display: flex;
    }

    .announcementBanner {
        height: 100%;
        width: 100vw;

        &.leftRight {
            .bannerRight {
                border: none;
            }

            .bannerLeft {
                width: 100%;
                position: absolute;
                height: 130px;
                z-index: 1;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
            }

            .bannerImage {
                position: relative;
                display: block;
                padding-right: 0;
                left: 6px;
            }

            .bannerLeft {
                width: 100%;
                position: absolute;
                height: 130px;
                z-index: 1;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
            }

            &.dandc {
                .bannerRight {
                    justify-content: flex-start;

                    .titlesAndButtons {
                        height: calc(50% - (130px / 2));
                        padding: 5% 20px;
                    }

                    .titles {
                        justify-content: space-evenly;
                    }
                }
            }

            .bannerImage {
                position: relative;
                display: block;
                padding-right: 0;
                left: 6px;
            }
        }

        &.pprofilesBeta .titles {
            max-width: 520px;
        }

        &.dandc {
            .bannerRight {
                justify-content: flex-start;

                .titlesAndButtons {
                    height: calc(50% - (130px / 2));
                    padding: 5% 20px;
                }

                .titles {
                    justify-content: space-evenly;
                }
            }
        }

        .bannerRight {
            height: 100%;

            .titlesAndButtons {
                padding: 5px 24px 18%;
            }
        }

        .mainTitle {
            font-size: 95%;
        }

        .surOrSubTitle {
            top: 0;
            line-height: 1.25em;
            font-size: 68%;
            font-size: 75%;

            &.spaced > * {
                margin-bottom: 1.2em;
                line-height: 1.2em;
            }
        }

        .bannerButton div {
            font-size: 13px;
            min-width: 110px;
            padding: 9px 12px;
            margin-top: 8px;
        }

        .fullWidth {
            &.titlesAndButtons {
                .titles {
                    background: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }

            &.helpImprovements {
                .surOrSubTitle.small {
                    line-height: 1.4em;

                    &.inlineImage {
                        line-height: 0.7em;
                        margin-bottom: 40px;
                    }
                }
            }

            .surOrSubTitle.small {
                margin-bottom: 20px;

                &:nth-child(2) {
                    margin-top: 20px;
                    margin-bottom: 0;
                }
            }
        }

        .button-text {
            margin-bottom: 8px;
            cursor: pointer;
        }

        .shyBreak {
            display: block;
        }

        #logged-in-text.button-text {
            margin-bottom: 6px;
            padding: 5px 14px 6px;
        }

        &.atvWelcome {
            .bannerRight .titlesAndButtons {
                padding: 10px 10px 150px 10px;
            }
        }
    }

    .continueBtn {
        display: inline-block;

        p {
            font-size: 18px;
            margin: 0;
            padding: 0;
            font-weight: 600;
            letter-spacing: -0.02em;
        }
    }

    .dotContainer {
        bottom: 70px;
        flex-direction: row;
        height: 40px;
        width: 350px;
        left: 50vw;
        transform: translateX(-50%);

        .dot.active {
            width: 14px;
            height: 14px;
        }
    }

    .playPause {
        right: unset;
        bottom: 75px;
        top: unset;
        left: 50vw;
        transform: translateX(-50%);
        margin: 0 0 0 1px;
    }

    .logged-out {
        .for-Mobile {
            display: inline !important;
        }
    }

    .logged-out,
    .logged-in {
        .for-Desktop {
            display: none !important;
        }
    }

    span.keepOnOneLine {
        display: block;
    }

    .messageBox {
        padding: 25px 30px 60px 30px;
    }

    .mainTitle {
        font-size: 26px;
    }

    .bannerText {
        font-size: 15px;
    }
}

@media screen and (min-height: 131px) {
    .announcementBanner {
        height: 100%;

        .bannerRight .titlesAndButtons {
        }
    }

    .continueBtn {
        font-size: 16px;
        font-weight: 600;
        bottom: 22%;
        height: 36px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .closeModal {
        width: 28px;
        height: 28px;
        right: -26px;
        top: -25px;
    }
}

// IE debug
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .dotContainer {
        justify-content: space-around;
        padding: 15px 0;
    }

    .announcementBanner .bannerRight:before {
        margin-top: 23px;
    }
}
